<footer>
  <div class="d-flex justify-content-center align-items-center">
    <p class="me-2 mb-0">© <%= new Date().getFullYear() %> siponen</p>
    <div class="d-flex justify-content-center align-items-center">
      <a href="https://github.com/sip1n/Project1_FullStack_LaureaUAS" title="GitHub Repository">
        <button class="btn btn-dark" title="GitHub Repository">
          <i class="fa-brands fa-github"></i>
        </button>
      </a>
    </div>
  </div>
</footer>