<footer>
  <div class="d-flex justify-content-center align-items-center">
    <p class="me-2 mb-0">© <%= new Date().getFullYear() %> sipone</p>
    <a href="GITHUB LINK HERE" class="btn btn-outline-light">
      <i class="bi bi-github"></i>
      GitHub
    </a>
  </div>
</footer>
