<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">GuestBook</a>
    <div class="navbar-nav">
      <a class="nav-link" href="/">Home</a>
      <a class="nav-link" href="/guestbook">Guestbook</a>
      <a class="nav-link" href="/newmessage">New Message</a>
      <a class="nav-link" href="/ajaxmessage">Ajax Message</a>
    </div>
  </div>
</nav>
