<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">

<%- include("../partials/header.ejs") %>

<body>

  <%- include("../partials/navbar.ejs") %>

    <div class="container mx-auto">
      <h1 class="mb-4">
        <% pageTitle %>
      </h1>
      <form id="new-message-form" method="POST">
        <div class="mb-3">
          <label for="username" class="form-label">Username</label>
          <input type="text" class="form-control" id="username" name="username" required>
        </div>
        <div class="mb-3">
          <label for="country" class="form-label">Country</label>
          <input type="text" class="form-control" id="country" name="country" required>
        </div>
        <div class="mb-3">
          <label for="message" class="form-label">Message</label>
          <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
        </div>
        <button type="submit" class="btn btn-primary mx-auto" onclick="submitNewMessage()">Send</button>
      </form>
    </div>

      <%- include("../partials/footer.ejs") %>

</body>

</html>